@import url('reset.css');
@import url('fonts.css');
@import url('icons.css');

/**** GLOBALS ******/

body {
	font-family: 'Aller-web', Arial, Sans-Serif;
	font-size: 16px;
	line-height: 21px;
}
p {
	font-style: italic;
}
h2 {
	opacity: 0.8;
	font-size: 3.16rem;
	line-height: 4.14rem;
}
h3 {
	opacity: 0.8;
	font-size: 2.5rem;
	line-height: 3.25rem;

}
h4 {
	opacity: 0.8;
	font-size: 1.25rem;
	line-height: 1.63rem;
	font-weight: 400;
	font-style: italic;
}
.container {
	margin: 0 auto;
	display: block;
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	overflow: hidden;
}
.col_12 {
	width:100%;
	display: inline-block;
	font-size: 1rem;
	vertical-align: top;
	padding: 0 0.75rem;
}
/******** HEADER ********/
header {
		background-color: white;
		box-sizing: border-box;
		position: fixed;
		display: block;
		width: 100vw;
		top: 0;
		left: 0;
		z-index: 1;
		-webkit-box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.6);
		-moz-box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.6);
		box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.6);
	}
	header .container {
		padding: 1.5em;
	}


/** Brand Logo **/
.brandLogo {
	float: left;
}

/********** NAV *********/
/* Top Nav */

.topNav {
	display: block;
	bottom: auto;
	top: -0.25em;
	float: right;
}
.topNav ul {
	vertical-align: baseline;
}
.topNav li {
	display: inline-block;
	padding: 2rem;
	transform: skew(-45deg);
}
.topNav a {
	display: inline-block;
	transform: skew(45deg);
}
.topNav li:not(:last-child) {
	border-right: 1px solid rgb(0,0,0);
	border-right: 2px solid rgba(0, 0, 0, 0.3);
}

/* Bottom Nav */
.bottomNav {
	position: absolute;
	display: block;
	top: 5.75em;
	right: 20%;
}
.bottomNav ul {
	display: inline-block;
	bottom: -1em;
	z-index: 2;
	font-weight: 800;
	padding: 1em 2em;
	background-color: white;
	box-sizing: border-box; 
	transform: skew(-45deg);
	-webkit-box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.6);
	box-shadow: 0px 15px 15px -5px rgba(0,0,0,0.6);
	background: #ffffff;
	vertical-align: baseline;
	list-style: none;
}
.bottomNav li {
	display: inline-block;
	transform: skew(45deg);
}
.bottomNav a {
	padding: 1em;

}

/*********** Main **********/
main {
	padding-top: 6em;
	margin: 0;
	display: block;
	position: relative;
}

/* Banner */
/* Banner Split Left */
.left-text-container {
	display: inline-block;
	text-align: left;
	background: white;	
}
.left-text-main {
	display: inline-block;
	position: relative;
	margin-top: 2rem;
	max-width: 400px;
	padding-top: 2rem;
	padding-left: 2rem;
}
.left-text-bottom {
	margin-top: 4rem;
}
.right-container {
	float: right;
	width: 40%;
	height: 438px;
	transform: skew(-30deg);
	overflow: hidden;
	margin-right: -8em;
}
.right-image {
	display: inline-block;
	transform: skew(30deg);
	margin-left: -100px;
}
.right-image img {
	width: 700px;
	height: 500px;
}

/* Keyboard Section */
.keyboard {
	display: block;
	width: 100%;
	color: white;
	background-image: url(../images/para_computer.jpg);
	position: relative;
	height: 25rem;
	text-align: right;
}
.keyboard-text {
	display: inline-block;
	padding: 4rem;
	margin-top: 5rem;
}


/* Columns Section */
.col-section {
	display: block;
	background-color:  #50b78d;
}
.col {
	display: inline-block;
	width: 33%;
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 2rem;
	color: white;
	height: 100%;
}
.col :be
.icon {
	font-size: 2rem;
	padding-bottom: 2rem;
}
.col-text > p {
	padding: 2em;
}

/* Note Text Section */
.note-text {
	display: block;
	position: relative;
}
.left-note-text {
	display: inline-block;
	position: relative;
	padding: 3.5em;
	width: 50%;
	text-align: left;
	margin: auto;
}
.left-note-text h4 {
	padding-bottom: 1em;
}
.right-note-container {
	position: relative;
	float: right;
	margin-right: -7em;
	width: 40%;
	transform: skew(-45deg);
	background-color: gray;
	padding: 3em;
	text-align: center;
}
.right-note-text {
	transform: skew(45deg);
	color: white;
	max-width: 70%;
	
}

/* Tablet Section */
.tablet {
	display: block;
	background-image: url("../images/para_tablet.jpg");
	color: white;
	text-align: center;
	display: block;
	position: relative;
	padding: 10rem;
}

/* Footer */
footer {
	display: block;
	background-color: gray;
	color: white;
	text-align: center;
}
footer a {
	padding: 2em 4em;
	display: inline-block;
}
.footer-text-container {
	display: inline-block;
	border-bottom: solid 2px white;
}
.footer-icon-container {
	padding: 2em;
}
.footer-icon-container * {
	padding-left: 2em;
	padding-right: 2em;
	height: 1.5rem;
}

/*** MEDIA QUERIES ***/
/* 
@media(max-width: 900px) {
	.right-container {
		right: -58%;
	}
}
@media(max-width: 750px) {
	.right-container {
		right: -75%;
	}
}
@media(max-width: 650px) {
	.topNav, .bottomNav {
		display: none;
	}
	.burgerIcon {
		top: 0px;
		right: 0px;
		padding: .5rem;
		margin: .5rem;
		background-color: gray;
	}
	.burgerIcon * {
		width: 1.5rem;
		height: 0.5rem;
		display: block;
		border-bottom: 2px solid #50b78d;		
	}
	.right-container {
		right: -95%;
	}
}
@media(max-width:600px) {
	.right-container {
		display: none;
	}
}
@media(max-width: 300px) {
	.brandLogo {
		height: 10vw;
	}
	.burgerIcon {
		background-color: white;
	}
	.burgerIcon * {
		width: 5vw;
	}
} */